@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");

:root {
  --bg-purple: #6900ff;
  --bg-background: #26272b;
  --bg-background-hover: #343539;
  --bg-letter-white: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-osx-font-smoothing: grayscale;

  background-color: var(--bg-background);
  color: var(--bg-letter-white);
}

a {
  color: var(--bg-letter-white);
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 1rem;
}

code {
  font-family: monospace;
}
